.App {
  // text-align: center;
  @font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}
body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@import '~antd/dist/antd.css';

.Dropzone{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border .24s ease-in-out;
}
.Header{
  display: flex;
  float: right;
position: fixed;
padding: 20px;
 z-index: 4;
  width: 100%; 
 top: 0;
 background-color: white;
}
.Recomendations{
  margin-left: 20px;
}
.Likes{
  margin-left: 20px;
}
.User{
  padding: 10px;
}
.Feed{
  margin-right: 20px;  
}
.Post{
  max-width: 600px;
  display: block; margin: 0 auto;
  background-color: #faf6fd;
  border: 6px solid #7922CC;
  padding: 10px;
  border-radius: 25px;
}
ul{
  margin: 0; 
    padding: 4px; 
}
li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  padding: 3px; /* Поля вокруг текста */
  list-style-type: none; /* Убираем маркеры */
 }
main{
  // margin-left:200px;
  // margin-right: 200px;
  margin-top: 100px;
}
.Title{
  text-align: left;
}
.Input{
  display: flex;
  width: 100%;
}
.AboutMe{
  
  display: flex;
  justify-content: center;
  //  float: left;
}
.Info{ 
  justify-content: center;
  display: flex;
  flex-direction: column;
  // float: right;
  // margin-left:200px;

}
.Card{
  // margin: 0 1.5%;
  //  width:  33.3%;
   padding: 10px;
   margin:50px;

  // padding-top: 30%;
  // background-size: 100% 100%;
 
}
.MyCarousel{
  display: block;
  min-width: 80%;
  min-height: 80%;
  background: #c6cece87;
  border-width: 5px;
  border-color: rgb(179, 188, 188);
  border-style: solid;
  margin-bottom: 40px;
  margin: 0 10%;
  border-radius: 5px;
}
.Modal{
  font-size: medium;
}
.PostFeed{
  border-width: 20;
  border-color: rgb(138, 138, 220);
  background: #edf8f89e;
  border-radius: 5px;

  border-style: solid;
  margin-bottom: 40px;
}
.PostImage{
  // display: flex;
  // align-items: 'center';
  display: block;
  margin-left: auto;
  margin-right: auto;
  // margin: 0 1.5%;
  //  width:  33.3%;
   padding: 10px;
  //  margin:50px;
   
  // padding-top: 30%;
  // background-size: 100% 100%;
 
}
.slick-arrow.slick-prev {
  background-color: red;
  color: red;
}
.slick-arrow.slick-next {
  background-color: red;
  color: red;
}
.Comments{

    position: fixed;

    margin:20px;
    width: 30%;
  //  left: 50%; bottom: 10%; 
  padding: 10px;
   // margin:20px;
   
    // color: #fff; 
   //  width: 30%; /* Ширина слоя */
}
.active {
  background-color: red;
}
.Scroll{
  // background-color: #e9dfdfa6;
  // display: block;
  display: block;
  // align-items: center;
  // justify-content: center;
  flex-direction:column;
  // width: 100%;
  height: 300px;
  // padding: 1em;
  overflow-y: scroll;
  // text-align: center;
}
.Scrolling{
  background-color: #7922CC;
}
.SpoilerButton{
  right: 30px;
  margin:20px;
}
Link{
  display: flex;
  align-items: center;
   justify-content: center;
   text-decoration: none;
   font-family: serif;
   background-color: rgb(174, 172, 240);  
   border: 2px solid rgb(37, 140, 184);
   border-radius: 10px;
   margin: 10px ;
   padding: 10px;
   font-weight: bold;
   color: rgb(10, 9, 58);
}
Link:hover{
  text-decoration: underline; 
  background-color: rgb(123, 119, 228);  
}
.ResultUserFind{
  max-width: 500px;
  min-width: 320px;
  max-height: 500px;
  padding: 15px 0;
  overflow: auto;
}