.App {
  @font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}

@import '~antd/dist/antd.css';

.Dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  background-color: #74d2e7;
  color: #1d5b78;
  outline: none;
  transition: border 0.24s ease-in-out;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-size: 20px;
}
.Header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  z-index: 4;
  width: 100%;
  background: #74d2e7;
  top: 0;
  transition: 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.Recomendations {
  margin-left: 20px;
}
.Likes {
  margin-left: 20px;
}
.User {
}
.Feed {
  margin-right: 20px;
  padding: 10px;
  border-radius: 25px;
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}

.Post {
  max-width: 600px;
  margin: 0 auto;
  background-color: white;
  border: 6px solid #dbebfa;
  padding: 10px;
  border-radius: 25px;
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  transition: 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: inset 2px 2px 5px rgba(128, 125, 125, 0.9);
}
ul {
  margin: 0;
  padding: 4px;
}
li {
  display: inline;
  margin-right: 5px;
  padding: 3px;
  list-style-type: none;
}
main {
  margin-top: 130px;
}
.Title {
  text-align: left;
  margin: 20px;
}
.Input {
  display: flex;
  width: 90%;
  padding: 5px;
  margin: 20px;
  border-radius: 10px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}
.container {
  padding: 20px;
  margin: 20px;
}
.AboutMe {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.Info {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.Card {
  padding: 10px;
  margin: 40px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.MyCarousel {
  display: block;
  min-width: 80%;
  min-height: 80%;
  background: #c6cece87;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: inset 2px 2px 5px rgba(128, 125, 125, 0.9);

  background-color: white;
  border: 6px solid #dbebfa;
  margin: 0 10%;
  border-radius: 5px;
}
.Modal {
  font-size: medium;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  // justify-content: center;
}
.PostFeed {
  border-width: 20;
  border-color: #74d2e7;
  background: #edf8f89e;
  border-radius: 5px;

  border-style: solid;
  margin-bottom: 40px;
  transition: 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  padding: 20px;
}
.InputForm {
  position: fixed;
  color: black;
  flex-direction: column;
  width: 800px;
  height: 400px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding-top: 10px;
  background: #74d2e7;
  padding: 50px;
  transition: 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.PostImage {
  display: flex;
  align-items: center;
  width: 700px;
  margin: 20px;
  height: 500px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
}
.Form {
  padding: 300px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
  background: #74d2e7;
}
.Comments {
  position: fixed;

  margin: 20px;
  width: 30%;
  padding: 10px;
}
.Scroll {
  display: block;

  flex-direction: column;
  height: 300px;
  overflow-y: scroll;
}
.ScrollForFeed {
  display: block;
  flex-direction: column;
  height: 150px;
  overflow-y: scroll;
}
.button {
  background-color: #dbebfa;
  color: rgb(0, 0, 0);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  padding: 15px;
  font-size: 15px;
  border-radius: 5px;
  margin: 15px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  transition: 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.button:hover {
  background-color: #fffff7;
  color: black;
}

.PostsFeed {
  margin: 20px;
  padding: 40px;
}
.SpoilerButton {
  right: 30px;
  margin: 20px;
}
Link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: serif;
  background-color: rgb(174, 172, 240);
  border: 2px solid rgb(37, 140, 184);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  color: rgb(10, 9, 58);
}
.Link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: serif;
  background-color: rgb(174, 172, 240);
  border: 2px solid rgb(37, 140, 184);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  color: rgb(10, 9, 58);
}

.Avatar {
  margin-left: 20px;
  width: 100px;
  border: 3px solid #fffff7;
  height: 55px;
  transition: 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.Avatar:hover {
  box-shadow: 0 5px 10px rgba(77, 141, 168, 0.25),
    0 10px 10px rgba(22, 93, 129, 0.22);
}
.Link:hover {
  text-decoration: underline;
  background-color: rgb(123, 119, 228);
}
.ResultUserFind {
  max-width: 500px;
  min-width: 320px;
  max-height: 500px;
  padding: 15px 0;
  overflow: auto;
}
