.App {
  @font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
  'Noto Color Emoji';
}
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
}
// ::-webkit-scrollbar { /* 1 - скроллбар */
//   width: 10px;
//   height: 10px;
//   background-color: #8e1919;
//   background-color: darkgrey;
// }
// ::-webkit-scrollbar-thumb {
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
// }
/* width */
// ::-webkit-scrollbar {
// width: 20px;
// // height: 20px;
// }

// ::-webkit-scrollbar-track {
// box-shadow: inset 0 0 5px #32373b;
// // border-radius: 2px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
// background: #1d5b78;
// border-radius: 3px;
// }
@import '~antd/dist/antd.css';

.Dropzone {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-width: 2px;
  border-radius: 2px;
  background-color: #74d2e7;
  color: #1d5b78;
  outline: none;
  transition: border 0.24s ease-in-out;
  font-size: medium;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  font-size: 20px;
}
.Links {
  margin: 10px;
  font-size: xx-large;
  color: black;
  transition: 0.3s;
}
.Links:hover {
  color: white;

  opacity: 0.7;
}

.Links:active {
  transform: scale(1.1); /* Увеличение картинки */
}
.Header {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  padding: 10px;
  z-index: 4;
  width: 100%;
  background: #74d2e7;
  top: 0;
  transition: 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.Recomendations {
  margin-left: 20px;
}
.Likes {
  margin-left: 20px;
}
.User {
}
.Feed {
  margin-right: 20px;
  padding: 10px;
  border-radius: 25px;
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}
.EditSetting {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  margin: 0 auto;
}
.Post {
  max-width: 450px;
  margin: 0 auto;
  background-color: white;
  border: 6px solid #dbebfa;
  padding: 10px;
  border-radius: 25px;
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  margin-top: 100px;
  transition: 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: inset 2px 2px 5px rgba(128, 125, 125, 0.9);
}
ul {
  margin: 0;
  padding: 4px;
}
li {
  display: inline;
  margin-right: 5px;
  padding: 3px;
  list-style-type: none;
}
main {
  margin-top: 130px;
}
.Title {
  text-align: left;
  margin: 10px;
}
.Input {
  display: flex;
  width: 90%;
  padding: 5px;
  // margin: 5px;
  border-radius: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}
.container {
  padding: 10px;
  margin-top: 20px;
  // margin: 20px;
}
.AboutMe {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}
.Info {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.Card {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  // animation: fade .5s linear forwards;
}
// @keyframes fade {
//   0% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 1;
//   }
// }

// .Card:hover {
//   display: block;
//   background: rgba(0, 0, 0, 0.5);
//   cursor: pointer;

// }
.Wrapper {
  // background: rgba(0, 0, 0, 0.5);
  // opacity: 0;
  //  padding: 10px;
  margin: 40px;
  // background: rgb(0, 0, 0);

  // opacity: 1;
  transition: filter 0.5s;
  // background: #000;  /* У блока, оборачивающего картинку при наведении будет просвечивать черный фон */
  // overflow: hidden;  /* Ограничиваем видиую область */
}
.Wrapper:hover {
  -webkit-filter: brightness(40%);
  filter: brightness(50%);
}

.Like {
  cursor: pointer;
  font-size: xx-large;
  color: red;

  // background-color: red;
}
.Like:active {
  transform: scale(1.1); 
}
.UnLike {
  cursor: pointer;
  font-size: xx-large;
  // opacity: 1;
  color: white;
  transition: filter 0.3s;
}
.UnLike:hover {
  opacity: 0.6;
}

.MyCarousel {
  display: block;
  // min-width: 60%;
  // min-height: 60%;
  object-fit: cover;
  background: #84898987;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: inset 2px 2px 5px rgba(128, 125, 125, 0.9);
  background-color: white;
  border: 6px solid #dbebfa;
  margin: 0 10%;
  border-radius: 5px;
}
.Modal {
  font-size: medium;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  // justify-content: center;
}
.PostFeed {
  border-width: 20;
  border-color: #ffffff;
  background: #edf8f89e;
  border-radius: 5px;
  border-style: solid;
  margin-bottom: 40px;
  transition: 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25),
   0 10px 10px rgba(0, 0, 0, 0.22);
  // padding: 20px;
}
.InputForm {
  position: fixed;
  color: black;
  flex-direction: column;
  width: 100%;
  height: 100%;
  float: right;
  background: rgb(58,100,180);
  background: linear-gradient(90deg,
   rgba(58,100,180,1) 0%, rgba(92,168,221,1) 51%, 
   rgba(29,253,182,1) 100%);
  transition: 0.3s;
  right:0;

}
.LoginPage{
  margin:150px;

}
.LoginForm{
  margin:100px;
  padding: 20px 0px;
  background:  rgba(58,100,180,1);
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);

  
}
.NextArrow {
  font-size: 50px;
  color: #41607d;
  position: absolute;
  left: 100%;
  top: 50%;
  margin: auto;
  padding-left: 20px;
  text-shadow: black 1px 0 10px;
  transition: opacity 0.3s;

}
.NextArrow:hover{
  opacity: 0.6;
}
.NextArrow:active{
  transform: scale(1.1); 
  

}
.PostImage {
  display: flex;
  align-items: center;
  width: 700px;
  // margin: 20px;
  height: 500px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
}
.Form {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
  background: rgb(142, 199, 239);
  border-radius: 10px;
  
}
.Comments {
  position: fixed;

  margin: 20px;
  width: 30%;
  padding: 10px;
}
.Scroll {
  display: block;

  flex-direction: column;
  height: 200px;
  overflow-y: scroll;
}
.ScrollForFeed {
  display: block;
  flex-direction: column;
  height: 20s0px;
  overflow-y: scroll;
}
.button {
  background-color: #dbebfa;
  color: rgb(0, 0, 0);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  padding: 15px;
  font-size: 15px;
  border-radius: 5px;
  margin: 15px;
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  transition: 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.button:hover {
  background-color: #fffff7;
  color: black;
}

.PostsFeed {
  margin: 20px;
  padding: 40px;
  // overflow-y: scroll;
}
.SpoilerButton {
  right: 30px;
  margin: 20px;
}

.NumberPosts{
  text-shadow: 1px 1px 1px rgb(81, 77, 77), 
  3px 3px 5px rgb(72, 72, 76); 
  // box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}
.Avatar {
  margin-left: 20px;
  width: 100px;
  border: 3px solid #fffff7;
  height: 55px;
  transition: 0.3s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.Avatar:hover {
  box-shadow: 0 5px 10px rgba(77, 141, 168, 0.25),
    0 10px 10px rgba(22, 93, 129, 0.22);
}

.ResultUserFind {
  max-width: 500px;
  min-width: 320px;
  max-height: 500px;
  padding: 15px 0;
  overflow: auto;
}
.InputOnePost{
display: flex;
width: 40%;
// margin: 10px 0;
margin-left: 10px;
margin-right: 10px;
}